%% -*- erlang -*-
{erl_opts, [debug_info,
            warnings_as_errors,
            {platform_define, "^(19|2)", ssl_recv_zero}
           ]}.

{deps,
 [
  {ranch, "1.5.0"}]}.

{profiles, [
            {test, [{deps,
                     [
                      {ct_helper, [],
                       {git, "https://github.com/extend/ct_helper.git",
                        {branch, "master"}}}
                     ]
                    }]
            }
           ]
}.
