%% -*- erlang -*-
{erl_opts, [debug_info,
            warnings_as_errors
           ]}.

{profiles, [
            {test, [{deps,
                     [
                      {ranch, [], {git, "https://github.com/extend/ranch.git",
                                   {tag, "1.1.0"}}},
                      {ct_helper, [],
                       {git, "https://github.com/extend/ct_helper.git",
                        {branch, "master"}}}
                     ]
                    }]
            }
           ]
}.
